# Git
.git
.gitignore
.gitattributes

# CI
.github

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.mo
*.pot

*.log

docs/_build/

target/

.env
.env.dev
.env.prod
.venv/
venv/

.idea
.ropeproject
**/.ropeproject
**/*.swp
.vscode/
